.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 65px;
    width: 100%;
    background-color: #282828;
    padding: 20px;
}

.footer__left {
    flex: 0.3;
    display: flex;
    align-items: center;
    color: white;
    width: 300px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (min-device-width: 768px) {
    .footer__left {
        white-space: nowrap!important;
        overflow: hidden!important;
        text-overflow: ellipsis!important;
    }
    .sidebar {
        display: none;
    }
}

@media (min-width:600px) {
    .footer__left {
        white-space: nowrap!important;
        overflow: hidden!important;
        text-overflow: ellipsis!important;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .footer__left {
        white-space: nowrap!important;
        overflow: hidden!important;
        text-overflow: ellipsis!important;
    }
    .sidebar {
        display: none!important;
    }
    .player_body {
        display: block!important
    }
}

.footer__albumLogo {
    height: 60px;
    width: 60px;
    object-fit: contain;
    margin-right: 20px;
}

.footer__center {
    flex: 0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

.footer__right {
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.footer__right * .MuiSlider-root {
    color: #1ed15e;
    width: 90%;
}

.footer__green {
    color: #1ed15e;
}

.footer__songInfo>h4 {
    margin-bottom: 5px;
}

.footer_songInfo>p {
    font-size: 12px;
}

.footer__icon:hover,
.footer__green:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}